.App {
  text-align: center;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}

.dash-links {
  text-align: center;
  padding: 2.4rem;
  border: 2px solid #17cf97;
  border-radius: 5px;
}

.dash-link {
  text-decoration: none;
  font-size: 3.2rem;
  color: #222;
}

h1 {
  text-align: center;
  padding: 2.4rem;
  font-size: 4.8rem;
}

.form-div {
  display: block;
  max-width: 540px;
  padding: 1.8rem;
  border: 3px solid #17cf97;
  border-radius: 5px;
  margin: 4.8rem auto;
}

.form-header {
  text-align: center;
  font-size: 3.2rem;
  color: #17cf97;
  margin-bottom: 1.8rem;
}

.form-label {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.input-field {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  width: 100%;
  padding: 1.2rem;
  border-radius: 5px;
  font-size: 1.8rem;
}

.submit-btn {
  font-size: 1.8rem;
  width: 100%;
  color: #fff;
  background-color: #17cf97;
  border: none;
  padding: 1.2rem 0;
  margin-bottom: 1.2rem;
}


h1 {
  text-align: center;
  padding: 2.4rem;
  font-size: 4.8rem;
}

.search-option {
  max-width: 80rem;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  column-gap: 1.2rem;
  justify-items: center;
  margin: 0 auto;
}

.search-field {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
}

.back-btn-section {
  max-width: 32rem;
  margin: 0 auto;
}

.tb-style {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.8rem;
}

.tb-style td, .tb-style th {
  border: 1px solid #ddd;
  padding: 1.2rem;
}

.tb-style tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tb-style tr:hover {
  background-color: #ddd;
}

.tb-style th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: left;
  background-color: #17cf97;
  color: white;
}

.details-section {
  margin: 0 auto;
  width: 60rem;
  border: 3px solid #17cf97;
  border-radius: 3px;
  font-size: 1.8rem;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.2rem;
  box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.04);
}